body {
  margin: 0;
  padding: 0;
  min-width: 320px; }

* {
  box-sizing: border-box;
  font-family: 'PT Serif', serif; }

button, input[type='checkbox'] {
  cursor: pointer; }


.interface {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative; }

.header {
  min-height: 70px;
  background: black;
  display: flex;
  color: white;
  font-weight: bold;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 0; }
  .header__user-name, .header__todo-list, .header__log-out {
    flex-grow: 0.11; }
  .header__user-name {
    flex-grow: 1; }
  .header__log-out {
    cursor: pointer;
    flex-grow: 0.05; }

.main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap; }

.menu {
  width: 320px;
  border: 1px solid black;
  border-top: 0;
  position: relative;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  min-height: 450px; }
  .menu__container {
    width: 310px;
    border-right: 1px solid black;
    flex-grow: 1; }
  .menu__button-container {
    position: absolute;
    bottom: 20px;
    left: 20px; }
  .menu__button-add {
    border-radius: 50%;
    width: 40px;
    height: 40px; }

.select {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 1px solid black;
  flex-grow: 0; }
  .select__select {
    width: 200px;
    border-radius: 2px 2px 2px 2px;
    height: 20px;
    border: 1px solid black;
    text-align: center; }

.todo-item {
  display: flex; }
  .todo-item__block {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 0;
    cursor: pointer; }
  .todo-item__buttons {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center; }

.caseList {
  flex-grow: 1;
  position: relative;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
  min-height: 450px; }
  .caseList__title {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .caseList__button-container {
    position: absolute;
    left: 20px;
    bottom: 20px; }
  .caseList__button-add {
    border-radius: 50%;
    width: 40px;
    height: 40px; }

.case-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap; }
  .case-item__checkbox-container {
    flex-grow: 0.05; }
  .case-item__block {
    flex-grow: 2;
    min-height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px; }
  .case-item__sign-importance {
    flex-grow: 0.1; }
  .case-item__ball {
    border-radius: 50%;
    width: 10px;
    height: 10px; }
  .case-item__text {
    flex-grow: 1;
    margin-right: 20px; }
  .case-item__date {
    flex-grow: 0.05; }
  .case-item__container-buttons {
    display: flex;
    flex-grow: 0.05;
    justify-content: center; }
  .case-item__container-buttons-edit {
    margin: 0 20px; }
  .case-item__button {
    border-radius: 50%; }

@media (max-width: 437px) {
  .case-item__container-buttons {
    margin: 10px;
    flex-grow: 2.05; } }

.modal-delete {
  width: 300px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 20px; }
  .modal-delete__cross {
    display: flex;
    justify-content: flex-end; }
  .modal-delete__cross-button {
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    background: transparent; }
  .modal-delete__title {
    display: flex;
    justify-content: center; }
  .modal-delete__text {
    width: 200px;
    text-align: center; }
  .modal-delete__container-buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px; }
  .modal-delete__button-no, .modal-delete__button-yes {
    width: 70px;
    border-radius: 10px;
    color: white; }
  .modal-delete__button-no {
    background: tomato;
    margin-left: 10px; }
  .modal-delete__button-yes {
    background: #43a047;
    margin-right: 10px; }

.warning {
  width: 300px;
  min-height: 70px;
  background: tomato;
  position: absolute;
  left: 61%;
  top: 48%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; }
  .warning::before {
    content: '';
    display: block;
    border: 5px solid white;
    border-right: 5px solid tomato;
    position: absolute;
    left: -10px;
    top: 10px; }

.message {
  width: 300px;
  min-height: 70px;
  background: white;
  box-shadow: 1px 0 1px grey;
  position: absolute;
  right: 1%;
  top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center; }

.modal-window {
  width: 300px;
  position: absolute;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 20px; }
  .modal-window__title {
    display: flex;
    min-height: 25px;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .modal-window__cross {
    position: absolute;
    right: 5px; }
  .modal-window__button {
    background: #43a047;
    color: white;
    border-radius: 5px; }
  .modal-window__cross-button {
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    background: transparent; }
  .modal-window__text {
    margin-left: 20px;
    text-align: center; }
  .modal-window__main {
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-between; }
  .modal-window__checkbox-name {
    margin-right: 24px; }
  .modal-window__input {
    width: 190px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    margin-right: 10px; }
  .modal-window__container-button {
    text-align: center;
    margin: 0 0 5px 0; }
  .modal-window__checkbox-container {
    display: flex; }
  .modal-window__button {
    background: #43a047;
    color: white;
    border-radius: 5px; }

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login__window {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    background: white; }
  .login__block-title {
    height: 70px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px; }
  .login__main {
    text-align: center; }
  .login__container-input-password, .login__container-input-login {
    margin: 20px; }
  .login__container-input-login, .login__container-input-password {
    display: flex;
    justify-content: center; }
  .login__person, .login__lock {
    padding: 0 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
    border-right: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .login__input-login, .login__input-password {
    border-radius: 0 5px 5px 0;
    padding-left: 10px;
    border: 1px solid grey;
    font-size: 16px;
    width: 170px; }
  .login__container-button-enter {
    margin-top: 40px; }
  .login__button-enter {
    padding: 8px 15px;
    border-radius: 10px;
    background: transparent; }

