.todo-item {
    display: flex;
    &__block {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-grow: 0;
        cursor: pointer;
    }
    &__buttons {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}