.modal-window {
    width: 300px;
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 20px;
    &__title {
        display: flex;
        min-height: 25px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__cross {
        position: absolute;
        right: 5px;
    }
    &__button {
        background: #43a047;
        color: white;
        border-radius: 5px;
    }
    &__cross-button {
        font-weight: bold;
        font-size: 20px; 
        border: none;
        border-radius: 50%;
        background: transparent;
    }
    &__text {
        margin-left: 20px;
        text-align: center;
    }
    &__main {
        display: flex;
        min-height: 50px;
        align-items: center;
        justify-content: space-between;
    }
    &__checkbox-name {
        margin-right: 24px;
    }
    &__input {
        width: 190px;
        height: 25px;
        border-radius: 5px;
        box-shadow: 0 1px 0 rgba(0,0,0, 0.25);
        margin-right: 10px;
    }
    &__container-button {
        text-align: center;
        margin: 0 0 5px 0;
    }
    &__checkbox-container {
        display: flex;
    }
    &__button {
        background: #43a047;
        color: white;
        border-radius: 5px;
    }
}