.header {
    min-height: 70px;
    background: black;
    display: flex;
    color: white;
    font-weight: bold;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 0;
    &__user-name, &__todo-list, &__log-out {
        flex-grow: 0.11;
    }
    &__user-name {
       flex-grow: 1;
    }
    &__log-out {
        cursor: pointer;
        flex-grow: 0.05;
    }
    
}